.nn {
  width: 100%;
  height: 10px;
}
.gap {
  width: 100%;
  height: 10px;
  color: rgba(186, 239, 2, 0.1);
}
@font-face {
  font-family: 'Craftwork';
    src:   url('../../public/font/craftwork-grotesk-cufonfonts/CraftworkGrotesk-Heavy.ttf') format('woff');
      
  font-weight: normal;
  font-style: normal;
}


@keyframes backgroundAnimation {
  0% {
    background-size: 1918px 1200px;
  }
  50% {
    background-size: 2000px 1250px;
  }
  100% {
    background-size: 1918px 1200px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
  
}
@keyframes slideUp {
  100% {
    background-position: center;
  }
  0% {
    background-position: top;
  }
}

.warpHead {
  height: 100vh;
  background-image: url("../../public/image/Frame\ 46881.png");
  background-position: center;
  background-size: 1918px 1200px;
  background-repeat: no-repeat;
  animation: slideUp 1s ease-out forwards ;
}

.head {
  height: 303px;
  margin: auto;
  margin-top: 85px;
  width: 1268.51px;
  font-family: 'Craftwork',CarftworkGrotesk-Heavy;

  font-size: 122px;
  font-weight: 600;
  line-height: 146.4px;
  letter-spacing: -0.06em;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.img {
  display: flex;
  justify-content: center;
  background-image: url("../../public/image/Group\ 3.png");
  height: 80.38px;
  margin-top: 97px;
  background-repeat: no-repeat;
  background-position: center;
  /* animation: zoomIn 2s ease-in-out; */
}

.scrollButton {
  border: 1px solid rgba(186, 239, 2, 1);
  background-color: white;
  color: black;
  width: 149px;
  padding: 10px;
  margin-left: 46%;
  margin-top: 15%;
  border-radius: 15px;
  height: 44px;
  font-family: "Poppins";
  font-size: 15.88px;
  font-weight: 400;
  line-height: 23.82px;
  transition: background-color 0.3s ease;
}

.scrollButton:hover {
  background-color: lightgray;
}

@media screen and (max-width:1440px){
  .scrollButton{
    margin-top: 211px;
  }
  .warpHead{
    background-size: 1824px 1119px;
  }
}

@media screen and (max-width:1024px){
  .scrollButton{
    margin-top: 211px;
  }
}

@media screen and (max-width:768px) {
  .warpHead {
    height: 1319px;
    background-size: contain;
  }
  .head {
    width: 1055px;
    height: 670px;
    margin-top: 116px;
    font-size: 170px;
    font-weight: 500;
    line-height: 173.44px;
    letter-spacing: -0.06em;
    text-align: center;
    margin-left: 385px;
  }
  .scrollButton {
    margin-top: 1%;
        margin-left: 792px;
    font-size: 34.88px;
    width: 238px;
    height: 81px;
    border-radius: 40px;
  }
  .img {
    background-size: contain;
    margin-top: 96px;
    margin-left: 570px;
    height: 157px;
    width: 647px;
  }
}

@media screen and (max-width: 425px) {
  .warpHead {
    height: 1955px;
    background-size: cover;
    background-image: url("../../public/image/Frame\ 1.png");
  }
  .head {
    width: 1055px;
    height: 824px;
    margin: auto;
    margin-top: 264px;
    font-size: 212px;
    font-weight: 500;
    line-height: 217.44px;
    letter-spacing: -0.06em;
    text-align: center;
    
  }
  .small{
    display: flex;
    width: auto;
    justify-content: center;
  }
  .scrollButton {
    margin-left: 685px;
    margin-top: 22.5%;
    font-size: 44.88px;
    width: 381px;
    height: 98px;
    border-radius: 40px;
  }
  .img {
    background-image: url("../../public/image/logo2.png");
    background-size: contain;
    margin-top: 230px;
    margin-left: 0px;
    width: auto;
    background-position: center;
  }
}

@media screen and (max-width: 393px) {
  .warpHead {
    height: 1955px;
    background-size: cover;
    background-image: url("../../public/image/Frame\ 1.png");
  }
  .head {
    width: 1055px;
    height: 824px;
    margin: auto;
    margin-top: 264px;
    font-size: 188px;
    font-weight: 500;
    line-height: 217.44px;
    letter-spacing: -0.06em;
    text-align: center;
  }
  .small{
    display: flex;
    width: auto;
    justify-content: center;
  }
  .scrollButton {
    margin-top: 17.5%;
    margin-left: 565px;
    font-size: 44.88px;
    width: 381px;
    height: 98px;
    border-radius: 40px;
  }
  .img {
    background-image: url("../../public/image/logo2.png");
    background-size: contain;
    margin-top: 230px;
    margin-left: 0px;
    width: auto;
    background-position: center;
  }
}
